* {
    margin: 0;
    padding: 0;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

:root {
    --background: #E6D5C8;
    --text: #0b0b0b; 
}

body {
    background-color: var(--background);
    overflow: hidden;
}

#theme {
    color: var(--text);
    position: absolute;
    right: 1rem;
    top: 1rem;
    font-size: 2rem;
    animation: spin 0.5s linear;
}

#theme:hover {
    cursor: pointer;
}


#github > a > img {
    width: 2rem;
    padding-left: 0.2rem;
}

#menuButton {
    color: var(--text);
    position: absolute;
    left: 1rem;
    top: 1rem;
    font-size: 2rem;
    z-index: 1;
}

#menuButton:hover {
    cursor: pointer;
}

#menu {
    height: 60svh;
    width: 55svw;
    padding: 7svh 1rem;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    display: none;
}

#menu.active {
    display: block;
    pointer-events: auto;
}

#menu.inactive {
    pointer-events: none;
}

#menuItems {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 2svh;
    height: 60svh;
    width: 50svw;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

#menu.active #menuItems {
    opacity: 1;
}

#menu.inactive #menuItems {
    opacity: 0;
}

.menuItem {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 1.25rem;
    color: var(--text);
}

.menuItem:nth-child(2), .menuItem:nth-child(3) {
    gap: 1.5rem
}

.menuItem a {
    text-align: center;
    text-decoration: none;
    color: var(--text);
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.75rem;
    font-size: 1.25rem;
}

.menuItem a:hover, .menuItem:nth-child(2):hover, .menuItem:nth-child(3):hover {
    cursor: pointer;
}

.menuItem span {
    font-size: 2.3rem;
    color: #24292f;
}

.menuItem input {
    background-color: var(--background);
    border: none;
    font-size: 1.25rem;
    color: var(--text);
    font-family: 'Poppins', sans-serif;
    width: 4.5rem;
    text-align: center;
}

::placeholder {
    color: var(--text);
    opacity: 1;
}
  
::-ms-input-placeholder {
    color: var(--text);
    opacity: 1;
}

.menuItem input:focus {
    outline: none;
    border: none;
}

.menuItem input:invalid{
    color:rgb(223, 108, 131);
}

.menuItem input:valid{
    color:rgb(134, 153, 99);
}

#timerContainer {
    width: 50svw;
    height: 50svh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2svh;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: var(--text);
}

#indicator {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    opacity: 50%;
}

#controls {
    display: flex;
    flex-direction: row;
    gap: 5svw;
    position: absolute;
    left: 50%;
    top: 70%;
    transform: translateX(-50%);
}

button {
    padding: 1rem 3.5rem;
    border-radius: 3rem;
    border-style: none;
    background-color: var(--text);
    color: var(--background);
    position: relative;
    top: 15svh;
    font-size: 1svw;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    z-index: 1;
}

button:hover {
    cursor: pointer;
}

#timerText {
    font-size: 20svw;
    font-family: "Gilda Display", serif;
    font-weight: 400;
    font-style: normal;
}


@keyframes spin {
    0%   {transform: rotate(0deg)}
    50% {transform: rotate(45deg)}
    100%   {transform: rotate(0deg)}
}

.rain {
    position: absolute;
    left: 0;
    width: 110%;
    top: 15%;
    height: 85%;
    z-index: -1;
}

.rain.back-row {
    z-index: -1;
    bottom: 60px;
    opacity: 0.5;
}

.drop {
    position: absolute;
    bottom: 100%;
    width: 0.5px;
    height: 120px;
    pointer-events: none;
    animation: drop 0.6s linear infinite;
    background: rgb(130, 166, 187);
    background: linear-gradient(0deg, rgba(130, 166, 187,0.7497373949579832) 35%, rgba(0,0,0,0) 100%);
}

.drop:nth-child(10) {
    display: block;
}

@keyframes drop {
    0% {
        transform: translateY(0vh);
    }
    75% {
        transform: translateY(90vh);
    }
    100% {
        transform: translateY(90vh);
        opacity: 0;
    }
}

#campfire {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -25%);
    height: 15vw;
    width: 15vw;
    display: none;
}

#campfire .flames {
    position: absolute;
    bottom: 40%;
    left: 50%;
    width: 60%;
    height: 60%;
    transform: translateX(-50%) rotate(45deg);
}

.flame {
    position: absolute;
    right: 0%;
    bottom: 0%;
    width: 0%;
    height: 0%;
    background-color: #FFDC01;
    border-radius: 1vw;
}

.flame:nth-child(2n + 1) {
    animation: flameodd 1.5s ease-in infinite;
}

.flame:nth-child(2n) {
    animation: flameeven 1.5s ease-in infinite;
}

.flame:nth-child(1) {
    animation-delay: 0s;
}

.flame:nth-child(2) {
    animation-delay: calc(1.5s / 4);
}

.flame:nth-child(3) {
    animation-delay: calc(1.5s / 4 * 2);
}

.flame:nth-child(4) {
    animation-delay: calc(1.5s / 4 * 3);
}

.smoke {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 50%;
    background-color: rgba(200, 200, 200, 0.5);
    border-radius: 50%;
    opacity: 0;
}

.smoke:nth-child(2n+1) {
    animation: smokeOdd 2s linear infinite;
}

.smoke:nth-child(2n) {
    animation: smokeEven 2s linear infinite;
}

.smoke:nth-child(1) {
    animation-delay: 0s;
}

.smoke:nth-child(2) {
    animation-delay: calc(1.5s / 4);
}

.smoke:nth-child(3) {
    animation-delay: calc(1.5s / 4 * 2);
}

.smoke:nth-child(4) {
    animation-delay: calc(1.5s / 4 * 3);
}

@keyframes smokeOdd {
    0% {
        opacity: 0;
        top: 0;
    }
    50% {
        top: -50%;
    }
    100% {
        opacity: 1;
        top: -200%;
        left: 90%;
    }
}

@keyframes smokeEven {
    0% {
        opacity: 0;
        top: 0;
    }
    50% {
        top: -50%;
    }
    100% {
        opacity: 1;
        top: -200%;
        left: 10%;
    }
}

.logs {
    position: absolute;
    bottom: 25%;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 15%;
}

.logs::before, .logs::after {
    position: absolute;
    content: '';
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(20deg);
    height: 100%;
    width: 100%;
    border-radius: 0.5vw;
    background-color: #70392F;
}

.logs::before {
    transform: translate(-50%, -50%) rotate(-20deg);
    background-color: #612E25;
}

@keyframes flameodd {
    0%, 100% {
        width: 0%;
        height: 0%;
    }
    25% {
        width: 100%;
        height: 100%;
    }
    0% {
        background-color: #FFDC01;
        z-index: 1000000;
    }
    40% {
        background-color: #FDAC01;
        z-index: 1000000;
    }
    100% {
        background-color: #F73B01;
        z-index: -10;
    }
    0% {
        right: 0%;
        bottom: 0%;
    }
    25% {
        right: 1%;
        bottom: 2%;
    }
    100% {
        right: 150%;
        bottom: 170%;
    }
}

@keyframes flameeven {
    0%, 100% {
        width: 0%;
        height: 0%;
    }
    25% {
        width: 100%;
        height: 100%;
    }
    0% {
        background-color: #FFDC01;
        z-index: 1000000;
    }
    40% {
        background-color: #FDAC01;
        z-index: 1000000;
    }
    100% {
        background-color: #F73B01;
        z-index: -10;
    }
    0% {
        right: 0%;
        bottom: 0%;
    }
    25% {
        right: 2%;
        bottom: 1%;
    }
    100% {
        right: 170%;
        bottom: 150%;
    }
}
